body{
    margin: 0;
    height: 100vh;
    width: 100vw;

    background-image: url(./Images/BACKGROUND1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* BACKGROUND/STORA BOXEN */

.back{
    width: 85vw;
    background-color: rgba(210, 213, 199, 0.5);
    border-radius: 30px;
    margin: 15vh auto;
    padding: 2vw;

    box-sizing: border-box;
}

/* TITLE */

header > h1{
    margin: 0;
    font-size: 8vw;
    font-family:'Allerta Stencil', sans-serif ;
    color: rgba(236, 240, 252, 0.8);
    text-shadow: 10px 10px 10px black;
    line-height: 0.8;
}

/* FONT DETALJER */

ul, p, h2, footer{
    font-family: 'Barlow Condensed';
    color: rgb(241, 243, 251);
    font-weight: bold;
    list-style: none;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow Condensed';
    margin: 5vw auto;
}

nav > div{
    display: flex;
    justify-content: center;
    width: 20vw;

    background-color: rgba(208, 211, 220, 0.5);
    border: solid 1px grey;
    border-radius: 10px;
    padding: 1vw 0;
    box-sizing: border-box;
    font-weight: bold;
}

nav > .unmarked:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(241, 243, 251);
    border: solid 2px rgb(241, 243, 251);
    box-sizing: border-box;
}

.marked{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(254, 254, 254);
    border: solid 2px rgb(241, 243, 251);
}

/* IMG */

img{
    width: 100%;
    height: 100%;
}

/* BACKGROUND/LILLA BOXEN */

.album{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(54, 71, 88, 0.5);
    padding: 4vw;
    border-radius: 30px;
    margin-bottom: 2vw;
    box-sizing: border-box;
    border: solid 1px rgb(241, 243, 251);
}

/* ALBUM DATA */

.album_data{
    grid-column: 1 / span 3;
    grid-row: 1 / span  3;
}

/* COVER & SONG LIST */

.cover{
    grid-column: 4 / span 2;
    position: relative;
   
}

.show_not_hover{
    position: absolute;
    right: 0;
    border-radius: 20px 20px 0 0;
    transition-duration: 0.8s;

}

.show_hover{
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.show_not_hover:hover{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.song_list{
    display: flex;
    grid-column: 4 / span 2;
    gap: 1vw;
}

.song_list > div {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: rgba(54, 71, 88, 0.8);
    margin-top: 0.8vw;
    border-radius: 0 0 0 20px;
}

.song_list > div:nth-child(2){border-radius: 0 0 20px 0;} 

.song_list > div >ul{
    margin: 0;
    list-style: decimal;
}

.song_list > div > h2{
    margin-left: 1.5vw;
    margin-bottom: 0;
}

/* ANECDOTES */

.anecdotes {
    grid-column: 1 / span 5;
    display: flex;
}





