body{
    margin: 0;
    height: 100vh;
    width: 100vw;

    background-image: url(./Images/BACKGROUND1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* BACKGROUND/STORA BOXEN */

.back{
    width: 85vw;
    background-color: rgba(210, 213, 199, 0.5);
    border-radius: 30px;
    margin: 15vh auto;
    padding: 2vw;

    box-sizing: border-box;
}

/* TITLE */

header > h1{
    margin: 0;
    font-size: 8vw;
    font-family:'Allerta Stencil', sans-serif ;
    color: rgba(236, 240, 252, 0.8);
    text-shadow: 10px 10px 10px black;
    line-height: 0.8;
}

/* FONT DETALJER */

ul, p, h2{
    font-family: 'Barlow Condensed';
    color: rgb(241, 243, 251);
    font-weight: bold;
    list-style: none;
    text-shadow: 10px 10px 15px black;
}

footer{
    color: black;
    font-family: 'Barlow Condensed';
    font-weight: bold;
    padding-top: 100px;
}

.album_data h1 {
    font-family: 'Allerta Stencil', sans-serif;
    line-height: 0.8;
    margin: 0;
    text-shadow: 10px 10px 15px black;
} 

.album_data h2 {
    font-family: 'Barlow Condensed';
    margin: 0;
    padding: 2vw 0;
    text-shadow: 10px 10px 15px black;
}



/* NAV */

nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow Condensed';
    margin: 5vw auto;
}

nav > div{
    display: flex;
    justify-content: center;
    width: 20vw;

    background-color: rgba(208, 211, 220, 0.5);
    border: solid 1px grey;
    border-radius: 10px;
    padding: 1vw 0;
    box-sizing: border-box;
    font-weight: bold;
}

nav > .unmarked:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(241, 243, 251);
    border: solid 2px rgb(241, 243, 251);
    box-sizing: border-box;
}

.marked{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(254, 254, 254);
    border: solid 2px rgb(241, 243, 251);
}

/* IMG */

img{
    width: 100%;
    height: 100%;
}

/* BACKGROUND/LILLA BOXEN */

.album{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 4vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    border-radius: 30px;

    background-color: rgba(54, 71, 88, 0.5);
    border: solid 1px rgb(241, 243, 251);
}

/* ALBUM DATA */

.album_data{
    grid-column: 1 / span 3;
    grid-row: 1 / span  3;
    padding-right: 1vw;
}

/* COVER & SONG LIST */

.cover{
    grid-column: 4 / span 2;
    position: relative;
   
}

.show_not_hover{
    position: absolute;
    right: 0;
    border-radius: 20px 20px 0 0;
    transition-duration: 0.8s;

}

.show_hover{
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.show_not_hover:hover{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.song_list{
    display: flex;
    grid-column: 4 / span 2;
    gap: 1vw;
}

.song_list > div {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: rgba(54, 71, 88, 0.8);
    margin-top: 0.8vw;
    border-radius: 0 0 0 20px;
}

.song_list > div:nth-child(2){border-radius: 0 0 20px 0;} 

.song_list > div >ul{
    margin: 0;
    list-style: decimal;
}

.song_list > div > h2{
    margin-left: 1.5vw;
    margin-bottom: 0;
}

/* PSYCHIC / ANECDOTES */

.anecdotes {
    grid-column: 1 / span 5;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 1vw; 
    gap: 0.7%; 

}

#psyched .box{
    display: flex;
    align-items: center;
    height: 25vw;

    background-color:rgba(84, 49, 111, 0.8);
    padding: 1vw;
    box-sizing: border-box;
}

#psyched .image_box{
    display: flex;
    justify-content: center;

    background-image: url(images/nico1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    padding-bottom: 3vw;

    font-style: italic;
    font-weight: bold;
}

#psyched .image{
    width: 17.5%;
}

#psyched .top_right_90{
    width: 17.5%;
    border-radius: 20px 0 20px 20px;
}
#psyched .empty{ width: 17.5%;}

#psyched .bottom_left_90{
    width: 33.5%;
    border-radius: 20px 20px 20px 0;
}
#psyched .bottom_right_90{
    width: 17.5%;
    border-radius: 20px 20px 0 20px;
}

/* SPIRAL / ANECDOTES */

#spiral .box{
    display: flex;
    align-items: center;
    height: 25vw;

    background-color: rgba(68, 87, 61, 0.8);
    padding: 1vw;
    box-sizing: border-box;
    
   
}

#spiral .image_box{
    display: flex;
    justify-content: center;

    background-image: url(images/Dave-Harrington.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    padding-bottom: 3vw;

    font-style: italic;
    font-weight: bold;
}
#spiral .image {width: 33%;}

#spiral .bottom_left_90 {
    width: 33%;
    border-radius: 20px 20px 20px 0px;
}
#spiral .bottom_right_90 {
    width: 17.5%;
    border-radius: 20px 20px 0 20px;
}

#spiral .top_left_90 {
    width: 17.5%;
    border-radius: 20px 0 20px 20px;
}

#spiral .tablet_empty_1 {display: none;}
#spiral .tablet_empty_2 {display: none;}

/* FONT-SIZES DESKTOP VIEW: */

@media (min-width: 1111px) {
    header >  h1{font-size: 88.8px;}
    nav > div {font-size: 22.2px;}
    .album_data h1,
    .album_data h2{
        font-size: 33.3px;
    }
    p, h2, ul, footer{font-size: 16.65px;}
}

@media (max-width:  1111px) and (min-width: 900px) {
    header >  h1{font-size: 8vw;}
    nav > div {font-size: 2vw;}
    .album_data h1,
    .album_data h2{
        font-size: 3vw;
    }
    p, h2, ul, footer{font-size: 1.5vw;}
}

@media (max-width: 900px) and (min-width: 800px) {
    header > h1 {font-size: 72.05px;}
    nav > div {font-size:18px;}
    .album_data h1,
    .album_data h2 {
        font-size: 27px;} 
    p, h2, ul, footer{font-size: 13.5px;}
}

/* RESPONSIV TABLET MODE */